body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, #f7d358, #ffec6a);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

label, select, input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

select, input {
    border: 1px solid #ccc;
}

button {
    cursor: pointer;
    background-color: #f7d358;
    border: none;
    color: #000;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f5bf42;
}

.results {
    display: none;
    margin-top: 20px;
    font-weight: bold;
    color: #f7d358;
}
.power-group {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#power {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

#unit {
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background-color: #f7d358;
    color: #000;
    transition: background-color 0.3s ease;
}

#unit:hover {
    background-color: #f5bf42;
}

#unit option {
    display: none;
}

#unit:before {
    content: attr(title);
    display: block;
}

#unit:focus option {
    display: block;
}
